@import url("normalize.css");
@import url("core.css");
@import url("fonts.css");

/* Using core styles from the iA Writer Helvetica template: https://ia.net/downloads#templates */
/* Customized with these styles for Made Media by @ashuttl */


/* TYPOGRAPHY */

:root {
    --wallop: "Wallop", sans-serif;
    --wallop-settings: "liga";
    --reckless: "Reckless", serif;
    --reckless-settings: "ss04" 1, "liga" 1, "clig" 1;
}

body {
    font-family: var(--wallop);
    font-feature-settings: var(--wallop-settings);
}

html {
    font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--reckless);
    font-feature-settings: var(--reckless-settings);
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: -.02em;
    text-wrap: balance;
}

h1 {
    font-weight: 300;
}

p,
li {
    line-height: 1.5em;
}

:is(table, p, div, ul, ol)+ :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 2em;
}

li+li,
li:first-child {
    margin-top: 0.5em;
}

table {
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100%;
}


/* BASIC LAYOUT */

body>*:not(table#requirements):not(figure) {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

body>figure {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.page-break {
    clear: both;
}

/* TABLES */

table {
    table-layout: unset;
}


/* IMAGES */

figure {
    &:has(img[width="50%"]) {
        width: calc(50% + 10rem);
        float: right;

        img {
            width: 100%;
        }
    }

    figcaption {
        font-size: 0.8em;
        text-align: center;
        opacity: 0.8;
        line-height: 1.5em;
        text-wrap: balance;
    }
}

/* MISC STYLES */

ul {
    list-style-type: square;
}

.madelogo {
    font-family: var(--wallop);
    font-weight: bolder;
    font-feature-settings: 'ss01' 1;
    letter-spacing: -.05em;
    font-size: 1.4em;
}